examples/hydrawise-simple-demo.json
[
  {
    "id": "426cf0dc.0c98c",
    "type": "tab",
    "label": "Hydrawise",
    "disabled": false,
    "info": ""
  },
  {
    "id": "c089baef.036cf8",
    "type": "inject",
    "z": "426cf0dc.0c98c",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 100,
    "y": 100,
    "wires": [
      [
        "c5b82687.291d38"
      ]
    ]
  },
  {
    "id": "72990d.882306f4",
    "type": "debug",
    "z": "426cf0dc.0c98c",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 550,
    "y": 180,
    "wires": []
  },
  {
    "id": "c5b82687.291d38",
    "type": "hydrawise-command",
    "z": "426cf0dc.0c98c",
    "name": "Run gazon",
    "controller": "ccb60647.1dda98",
    "zone": "1:  Gazon",
    "command": "run",
    "duration": "600",
    "x": 270,
    "y": 100,
    "wires": [
      [
        "72990d.882306f4"
      ]
    ]
  },
  {
    "id": "78a53c22.1cceb4",
    "type": "hydrawise-command",
    "z": "426cf0dc.0c98c",
    "name": "Stop gazon",
    "controller": "ccb60647.1dda98",
    "zone": "1:  Gazon",
    "command": "stop",
    "duration": "600",
    "x": 270,
    "y": 180,
    "wires": [
      [
        "72990d.882306f4"
      ]
    ]
  },
  {
    "id": "9fc6e1bd.c67a7",
    "type": "inject",
    "z": "426cf0dc.0c98c",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 100,
    "y": 180,
    "wires": [
      [
        "78a53c22.1cceb4"
      ]
    ]
  },
  {
    "id": "b7103432.15e138",
    "type": "hydrawise-command",
    "z": "426cf0dc.0c98c",
    "name": "Info",
    "controller": "ccb60647.1dda98",
    "zone": "6",
    "command": "info",
    "duration": "1800",
    "x": 250,
    "y": 260,
    "wires": [
      [
        "72990d.882306f4"
      ]
    ]
  },
  {
    "id": "aa26cdd2.783e",
    "type": "inject",
    "z": "426cf0dc.0c98c",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 100,
    "y": 260,
    "wires": [
      [
        "b7103432.15e138"
      ]
    ]
  },
  {
    "id": "f749f6cc.204698",
    "type": "mqtt in",
    "z": "426cf0dc.0c98c",
    "name": "Tuinslang knop",
    "topic": "shellies/tuin/border_zwembad/tuinslang/input_event/0",
    "qos": "2",
    "datatype": "auto",
    "broker": "af836632.5387a8",
    "nl": false,
    "rap": true,
    "rh": 0,
    "x": 100,
    "y": 440,
    "wires": [
      [
        "6399fca.dd38f04"
      ]
    ]
  },
  {
    "id": "6399fca.dd38f04",
    "type": "hydrawise-command",
    "z": "426cf0dc.0c98c",
    "name": "Border zwembad - 30 minuten",
    "controller": "ccb60647.1dda98",
    "zone": "2:  Border zwembad",
    "command": "run",
    "duration": "3600",
    "x": 330,
    "y": 440,
    "wires": [
      [
        "72990d.882306f4"
      ]
    ]
  },
  {
    "id": "c0c8f120a2d74c3c",
    "type": "hydrawise-command",
    "z": "426cf0dc.0c98c",
    "name": "stop all zones",
    "controller": "ccb60647.1dda98",
    "zone": "all",
    "command": "stopAllZones",
    "duration": 1800,
    "x": 280,
    "y": 320,
    "wires": [
      [
        "72990d.882306f4"
      ]
    ]
  },
  {
    "id": "3d3646ae8d574745",
    "type": "inject",
    "z": "426cf0dc.0c98c",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 100,
    "y": 320,
    "wires": [
      [
        "c0c8f120a2d74c3c"
      ]
    ]
  },
  {
    "id": "f115d6896a649dfe",
    "type": "inject",
    "z": "426cf0dc.0c98c",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 100,
    "y": 380,
    "wires": [
      [
        "b82c2403222ef361"
      ]
    ]
  },
  {
    "id": "b82c2403222ef361",
    "type": "hydrawise-command",
    "z": "426cf0dc.0c98c",
    "name": "run all zones",
    "controller": "ccb60647.1dda98",
    "zone": "1:  Gazon",
    "command": "runAllZones",
    "duration": "0",
    "x": 270,
    "y": 380,
    "wires": [
      [
        "72990d.882306f4"
      ]
    ]
  },
  {
    "id": "ccb60647.1dda98",
    "type": "hydrawise-controller",
    "name": "Brains",
    "connectionType": "CLOUD",
    "key": "xxxx-xxxx-xxxx-xxxx",
    "host": "",
    "user": "",
    "password": ""
  },
  {
    "id": "af836632.5387a8",
    "type": "mqtt-broker",
    "name": "BrainsMQTTBroker",
    "broker": "192.168.0.2",
    "port": "1883",
    "clientid": "localnodered",
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "sessionExpiry": ""
  }
]